.btn {
	padding: 1rem 1.5rem;
	color: var(--secondary-color);
	border: none;
	font-size: 15px;
	background-color: var(--primary-color);
	box-shadow: 4px 4px 0 var(--shadow-color);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 100%;
}

.btn:hover,
.btn:active {
	box-shadow: 2px 2px 0 var(--shadow-color);
	transform: scale(0.99);
}

.btnSmall {
	padding: 0.8rem;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	min-width: min-content;
	width: min-content;
	font-size: 1.1rem;
}

.iconBtn {
	background-color: transparent !important;
	border: none;
	margin-right: 5px;
}

/* Formulaires */
.registrationForm,
.pointsForm {
	display: flex;
	width: 100%;
	max-width: 100%;
}

.registrationForm input {
	width: 100%;
	margin-right: 15px;
	padding: 0.5rem;
	color: var(--font-color-dark);
	box-shadow: 4px 4px 0 var(--shadow-color);
	border: none;
}

.playersBlock {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.playerList {
	list-style: none;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: start;
	color: var(--font-color-dark);
	max-width: 100%;
}

.ribbonWrapper {
	width: 100%;
	margin-bottom: 2rem;
	display: inline-block;
	filter: drop-shadow(4px 4px 0 var(--shadow-color));
}

.ribbon {
	position: relative;
	display: inline-block;
	font-weight: 900;
	width: 100%;
	padding: 1rem 3rem;
	background-color: var(--tertiary-color);
	color: var(--secondary-color);
	text-align: center;
	clip-path: polygon(0 0, 100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 50%);
}

.pointsGroup {
	display: flex;
	gap: 10px;
	white-space: nowrap;
}

.pointsGroup input {
	width: 60px;
	padding: 0.1rem;
	color: var(--secondary-color);
	font-size: 15px;
	background-color: var(--primary-color);
	border: none;
}

.playersBlock {
	margin: 1rem 0;
	width: 100%;
}

.ranking {
	font-weight: 900;
	width: 100%;
}

.scoreBlock {
	border: none;
	margin-bottom: 1rem;
	color: var(--font-color-dark);
	width: 100%;
}

.playerScoreRow {
	box-shadow: 4px 4px 0 var(--shadow-color);
	display: grid;
	grid-template-columns: 1fr repeat(2, 40px);
	padding: 0.8rem;
	border-radius: 5px;
}

.highlightedRow {
	background-color: #fff;
}

.warningBlock {
	padding: 1rem;
	border: 2px red solid;
	background-color: #fff;
	width: 100%;
	max-width: 100%;
	margin: 1rem auto;
	box-shadow: 4px 4px 0 var(--shadow-color);
	color: red;
}

.warning {
	color: red;
}
.playersRankingEnding {
	width: 100%;
}

.playersRankingEnding li {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	list-style-type: none;
	color: var(--font-color-dark);
}

.players {
	font-weight: 300;
}

.winner {
	font-size: 32px;
	font-weight: 500;
	text-align: center;
}

.restartButtons {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-top: 1.5rem;
}

/* NUMPAD */
.numberPad {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 100%;
}

.numpadGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
	gap: 10px;
}

.numpadGrid button {
	padding: 1rem;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border: none;
	cursor: pointer;
	box-shadow: 4px 4px 0 var(--shadow-color);
	border-radius: 5px;
}

.numpadGrid button:hover,
.numpadGrid button:active {
	box-shadow: 2px 2px 0 var(--shadow-color);
	transform: scale(0.99);
}

.undoBtn {
	grid-column: 4 / 4;
	background-color: var(--undo-color) !important;
	color: white;
	font-weight: bold;
	grid-column: span 3;
}

.undoBtn:disabled {
	opacity: 0.5;
	cursor: not-allowed;
	box-shadow: none;
}

.zeroBtn {
	grid-column: span 1;
}

/* Score history */
.playerHistory {
	text-align: left;
	padding: 0.3rem 1rem;
	font-size: 0.9rem;
	color: var(--secondary-color);
	word-break: break-word;
	white-space: normal;
}

@media (min-width: 768px) {
	.btn {
		font-size: 20px;
	}

	.winner {
		font-size: 40px;
	}
}
