.btn {
	padding: 1rem 1.5rem;
	color: var(--secondary-color);
	border: none;
	font-size: 15px;
	background-color: var(--primary-color);
	box-shadow: 4px 4px 0 #3d4731;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 380px;
}

.btn:hover,
.btn:active {
	box-shadow: 2px 2px 0 #3d4731;
	transform: scale(0.99);
}

.btnSmall {
	padding: 0.8rem;
	background-color: white;
	min-width: min-content;
	width: min-content;
	font-size: 1.1rem;
}

.iconBtn {
	background-color: transparent !important;
	border: none;
	margin-right: 5px;
}

/* Formulaires */
.registrationForm,
.pointsForm {
	display: flex;
	width: 100%;
	padding: 1rem;
	max-width: 380px;
}

.registrationForm input {
	width: 100%;
	margin-right: 15px;
	padding: 0.5rem;
	color: var(--secondary-color);
	box-shadow: 4px 4px 0 #3d4731;
	border: none;
}

.playersBlock {
	display: flex;
	flex-direction: column;
	max-width: 380px;
}

.playerList {
	list-style: none;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: start;
	color: white;
	max-width: 380px;
	padding: 0 1rem;
}

.scoreTable,
.ranking {
	background-color: #fff;
	border: none;
	box-shadow: 4px 4px 0 #3d4731;
	padding: 1rem;
	margin-bottom: 1rem;
	color: var(--secondary-color);
	width: 100%;
	max-width: 380px;
}

.pointsForm {
	max-width: 100px;
}

.pointsGroup {
	display: flex;
	gap: 10px;
	white-space: nowrap;
}

.pointsGroup input {
	width: 60px;
	padding: 0.1rem;
	color: var(--secondary-color);
	font-size: 15px;
	background-color: var(--primary-color);
	border: none;
}

.playersBlock {
	margin: 1rem 0;
	width: 100%;
}

/* Tables */
.tableTitles button,
.pointsForm button {
	margin-right: 5px;
	background-color: transparent;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tableTitles button img {
	width: 15px;
}

.ranking {
	font-weight: 900;
	width: 100%;
}

table {
	border-collapse: collapse;
	width: 100%;
}

.tableTitles > th,
.tableTitles > td {
	padding: 0.5rem;
	text-align: center;
}

.warningBlock {
	padding: 1rem;
	border: 2px red solid;
	background-color: #fff;
	width: 100%;
	max-width: 380px;
	margin: 1rem auto;
	box-shadow: 4px 4px 0 #3d4731;
	color: red;
}

.warning {
	color: red;
}

.playersRankingEnding li {
	list-style-type: none;
	color: white;
}

.players {
	font-weight: 300;
}

.winner {
	font-size: 32px;
	font-weight: 500;
	text-align: center;
}

.restartButtons {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-top: 1.5rem;
}

@media (min-width: 768px) {
	.btn {
		font-size: 20px;
	}

	.scoreTable input {
		font-size: 20px;
		width: 70px;
	}

	.winner {
		font-size: 40px;
	}
}
