:root {
	--primary-color: #b0c1a7;
	--secondary-color: #f0ece5;
	--tertiary-color: #b7a0b9;
	--shadow-color: #e3ded4;
	--font-color-dark: #aa7e77;
	--warning-color: #fcb3a0;
	--bg-pattern: url("./assets/background-pattern.svg");
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
}

.hidden {
	display: none !important;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.word-break {
	word-break: break-word;
	white-space: normal;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
}

body {
	font-family: "Parkinsans", sans-serif;
	font-style: normal;
	color: var(--primary-color);
	background-color: var(--secondary-color);
	background-image: var(--bg-pattern);
	background-repeat: repeat;
	background-size: 120px 120px;
}

body * {
	font-size: 16px;
	font-family: "Parkinsans", sans-serif;
	font-style: normal;
	font-weight: 600;
}

input,
.notbold {
	font-weight: 400 !important;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	height: 100vh;
	justify-self: unset;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
	width: 300px;
}

.header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
}

.header .title {
	margin-bottom: -1.8rem;
	font-size: 80px;
}

.header .subtitle {
	/* margin-bottom: 1.5rem; */
	align-self: center;
	margin-right: 55px;
	font-size: 22px;
}

@media (min-width: 768px) {
	body * {
		font-size: 18px;
	}

	main {
		width: 375px;
	}

	.header .title {
		margin-bottom: -2rem;
		font-size: 100px;
	}

	.header .subtitle {
		font-size: 25px;
		margin-right: 100px;
	}
}
